body {
  padding-right: 30px;
  padding-left: 30px;
  min-width: fit-content;
  text-align: center;
}

img {
  max-width: (100vw - 60px);
}

.img-cat {
  text-align: center;
  padding-bottom: 12px;
}

.nyan-rank-app {
}

.btn-content {
  text-align: center;
}
